<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- Registry entry for startup -->
    <DirectoryRef Id="TARGETDIR">
      <Component Id="EngineStartup" Guid="*">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Cobalt.Engine" Type="string" Value="&quot;[INSTALLDIR]engine.exe&quot;" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
    
    <!-- Launch engine after installation/upgrade/repair -->
    <CustomAction Id="LaunchEngine" 
                  Impersonate="yes"
                  ExeCommand="[INSTALLDIR]engine.exe" 
                  Directory="INSTALLDIR"
                  Return="asyncNoWait" />
    <InstallExecuteSequence>
      <Custom Action="LaunchEngine" After="InstallFinalize">NOT(REMOVE)</Custom>
    </InstallExecuteSequence>

  </Fragment>
</Wix> 