<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dir43FCCFA109FBF584D9155DCE31E452EB" Name="x64" />
            <Directory Id="dir97F42FF68945B97AAE670945C4FDAE93" Name="x86" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CobaltCombinedComponents">
            <Component Id="cmpDA27922DC39ABEE4AED51766786E4CFD" Directory="INSTALLFOLDER" Guid="4D54FED4-127C-4DD1-8151-B860F5F23354">
                <File Id="fil35A245A4D0EADE39BA1ACE4C3747CE4D" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Autofac.dll" />
            </Component>
            <Component Id="cmp9D30F813615BF0CBBFF3CFE355900CFA" Directory="INSTALLFOLDER" Guid="22DE0872-534A-4685-B83C-D116994E5528">
                <File Id="filA80350BB9FBE62311C36385C3E6C9335" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Caliburn.Micro.Autofac.dll" />
            </Component>
            <Component Id="cmpF6DB600EAE4F92B06118C49F01583429" Directory="INSTALLFOLDER" Guid="506A7CF4-758A-4275-8D67-23F50DDCCE8F">
                <Class Id="{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}" Context="InprocServer32" Description="Caliburn.Micro.ActivationEventArgs" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.ActivationEventArgs" Description="Caliburn.Micro.ActivationEventArgs" />
                </Class>
                <Class Id="{2DE39304-6881-3628-93AC-6B3BC22F2DC7}" Context="InprocServer32" Description="Caliburn.Micro.ViewAware" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.ViewAware" Description="Caliburn.Micro.ViewAware" />
                </Class>
                <Class Id="{344DB887-054E-340F-920D-E9A73D3B0751}" Context="InprocServer32" Description="Caliburn.Micro.CoroutineExecutionContext" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.CoroutineExecutionContext" Description="Caliburn.Micro.CoroutineExecutionContext" />
                </Class>
                <Class Id="{60B59510-9C55-3309-B4B4-FFCF14A9D58A}" Context="InprocServer32" Description="Caliburn.Micro.ResultCompletionEventArgs" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.ResultCompletionEventArgs" Description="Caliburn.Micro.ResultCompletionEventArgs" />
                </Class>
                <Class Id="{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}" Context="InprocServer32" Description="Caliburn.Micro.ActivationProcessedEventArgs" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.ActivationProcessedEventArgs" Description="Caliburn.Micro.ActivationProcessedEventArgs" />
                </Class>
                <Class Id="{716C4FAC-763A-3DF7-AC8E-18E082926D6C}" Context="InprocServer32" Description="Caliburn.Micro.EventAggregator" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.EventAggregator" Description="Caliburn.Micro.EventAggregator" />
                </Class>
                <Class Id="{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}" Context="InprocServer32" Description="Caliburn.Micro.PropertyChangedBase" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.PropertyChangedBase" Description="Caliburn.Micro.PropertyChangedBase" />
                </Class>
                <Class Id="{8357CB1B-108A-3306-9F96-B14B4925F1A8}" Context="InprocServer32" Description="Caliburn.Micro.DeactivationEventArgs" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.DeactivationEventArgs" Description="Caliburn.Micro.DeactivationEventArgs" />
                </Class>
                <Class Id="{87C16467-FE01-37EA-BDD3-88EA8537CE9B}" Context="InprocServer32" Description="Caliburn.Micro.Screen" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.Screen" Description="Caliburn.Micro.Screen" />
                </Class>
                <Class Id="{88729FA5-998A-376C-A666-1453243041FE}" Context="InprocServer32" Description="Caliburn.Micro.ViewAttachedEventArgs" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.ViewAttachedEventArgs" Description="Caliburn.Micro.ViewAttachedEventArgs" />
                </Class>
                <Class Id="{B4F7805F-33D4-3226-B46D-2D80EC6B301D}" Context="InprocServer32" Description="Caliburn.Micro.SimpleContainer" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.SimpleContainer" Description="Caliburn.Micro.SimpleContainer" />
                </Class>
                <Class Id="{C2BA713C-D12F-34BE-9609-22341AEDA3C1}" Context="InprocServer32" Description="Caliburn.Micro.DefaultPlatformProvider" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.DefaultPlatformProvider" Description="Caliburn.Micro.DefaultPlatformProvider" />
                </Class>
                <File Id="fil58D641A69C1F9F9B3767F37A52968AEA" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Caliburn.Micro.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.ActivationEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32" Name="Class" Value="Caliburn.Micro.ActivationEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.ViewAware" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32" Name="Class" Value="Caliburn.Micro.ViewAware" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.CoroutineExecutionContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32" Name="Class" Value="Caliburn.Micro.CoroutineExecutionContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.ResultCompletionEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32" Name="Class" Value="Caliburn.Micro.ResultCompletionEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.ActivationProcessedEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32" Name="Class" Value="Caliburn.Micro.ActivationProcessedEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.EventAggregator" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32" Name="Class" Value="Caliburn.Micro.EventAggregator" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.PropertyChangedBase" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32" Name="Class" Value="Caliburn.Micro.PropertyChangedBase" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.DeactivationEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32" Name="Class" Value="Caliburn.Micro.DeactivationEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.Screen" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32" Name="Class" Value="Caliburn.Micro.Screen" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.ViewAttachedEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32" Name="Class" Value="Caliburn.Micro.ViewAttachedEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.SimpleContainer" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32" Name="Class" Value="Caliburn.Micro.SimpleContainer" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.DefaultPlatformProvider" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32" Name="Class" Value="Caliburn.Micro.DefaultPlatformProvider" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32" Name="CodeBase" Value="file:///[#fil58D641A69C1F9F9B3767F37A52968AEA]" Type="string" Action="write" />
            </Component>
            <Component Id="cmp3ADD63EC603C0189D3C536D6FE228F29" Directory="INSTALLFOLDER" Guid="B5653997-ED73-4F3F-AE35-4F04F866F031">
                <File Id="fil22BB2F1FEFE5A4C8C7066B4FFB40BA50" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Caliburn.Micro.Platform.Core.dll" />
            </Component>
            <Component Id="cmp1C206319B53EA02514D73AF8086C62B4" Directory="INSTALLFOLDER" Guid="68BFDEA4-44C2-420C-9C09-D26EE620945A">
                <File Id="filA7E995C50EC209623795FDBA9E10F3FA" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Caliburn.Micro.Platform.dll" />
            </Component>
            <Component Id="cmpB0A91FE1BA14735E02688B964333B26C" Directory="INSTALLFOLDER" Guid="96453AE2-FC94-4D78-B9C1-D9CD7577BB39">
                <File Id="fil59C13B2368FF8B313AF23C9A7995BB3C" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.Common.Analysis.dll" />
            </Component>
            <Component Id="cmp7CDC407C7DE2C6F5F6C804C866BAEAEE" Directory="INSTALLFOLDER" Guid="A1E0DF8D-8314-405C-AE5D-C7848B1CD016">
                <File Id="filAAD3C43FC52B3A85D6ED623343A153CA" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.Common.Data.dll" />
            </Component>
            <Component Id="cmp1CDB63228F63689C7039651E794DB9B0" Directory="INSTALLFOLDER" Guid="8B244C99-0FA4-4157-9F02-B00B05DDFAE2">
                <File Id="filD8197182145F6DF14132AF8ED3318AAD" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.Common.IoC.dll" />
            </Component>
            <Component Id="cmpA09FC309B1907993DDCA5BF08744F359" Directory="INSTALLFOLDER" Guid="B9DB4AB5-9E42-4C12-9CF6-8AD31E8AEEA8">
                <File Id="filE5F9C2734A498EE17DD5407D49BFCE3B" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.Common.Transmission.dll" />
            </Component>
            <Component Id="cmp879B3C54599CA541130F27677F829126" Directory="INSTALLFOLDER" Guid="7CFC003B-8E4C-470B-A68F-92ED0F905949">
                <File Id="fil6F831A61FBF8B5C802EFC8D391BEDE66" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.Common.UI.dll" />
            </Component>
            <Component Id="cmpB9ED21003765F1F176D6C17B919E75EE" Directory="INSTALLFOLDER" Guid="37085D20-91A0-427F-B412-EE27FE2F16D1">
                <File Id="fil9BE9BACD9A0A8E1147337C261906F1FB" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.Common.UI.dll.config" />
            </Component>
            <Component Id="cmpDA6030A4E7D3ECB3812AF48F70F4F571" Directory="INSTALLFOLDER" Guid="5CDCF396-FDB0-407D-AF24-A224B3EC4721">
                <File Id="fil9089569F1428504462A2EAA127C3B7B9" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.Common.Util.dll" />
            </Component>
            <Component Id="cmpD339AB18193D634C8BEE2784A8F3D153" Directory="INSTALLFOLDER" Guid="9D2961B9-CFA0-481E-88FF-EC1A28CF816A">
                <File Id="fil327EB8437D571CE2533316B73F0ACDE2" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.Engine.exe" />
            </Component>
            <Component Id="cmp65A796F5E96BF4CF4CF4D3E5A53619B8" Directory="INSTALLFOLDER" Guid="1F3F95B1-5EB9-4FCB-BE20-DC0615429061">
                <File Id="fil2C9257C03774BF3C18C9DEE858FE332D" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.Engine.exe.config" />
            </Component>
            <Component Id="cmp530C19FBC5D183DEB9FF9752B0E8E4EC" Directory="INSTALLFOLDER" Guid="09B15403-9246-4393-A997-ADC12F6FC00F">
                <File Id="fil8B8ED3090C976F92869F075C97601D10" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.exe" />
            </Component>
            <Component Id="cmpEBF117083904765DFF6BD509AB7A949E" Directory="INSTALLFOLDER" Guid="1CA8A980-B6D2-4246-AE08-9C1A70B67198">
                <File Id="filCDE753F31CC91BAD6173CB3017D38F93" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.exe.config" />
            </Component>
            <Component Id="cmpC9C4765975218487486C59CAD3E83A1E" Directory="INSTALLFOLDER" Guid="0D45E40A-6C94-4E34-A352-4FB66FA9D65C">
                <File Id="fil8F7B9D8626AF630818C67EB9C83F9446" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.TaskbarNotifier.exe" />
            </Component>
            <Component Id="cmp6A2B12085D566286CE1E89C077E325A8" Directory="INSTALLFOLDER" Guid="2C293CED-80C3-4AA4-A355-3DD48BEC40D7">
                <File Id="filE1254D7ACD2B92CA626E39A9411DC4FA" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.TaskbarNotifier.exe.config" />
            </Component>
            <Component Id="cmp761241422ADE8BA97793E0F1C793720C" Directory="INSTALLFOLDER" Guid="26A7BA81-8E17-432D-B9F3-5B8A4A26786C">
                <File Id="fil748C682DF6254C2E182A3C059A99292E" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\CommonWin32.dll" />
            </Component>
            <Component Id="cmp9110E4565D76564E9BC2F34625854902" Directory="INSTALLFOLDER" Guid="BDA20E6B-9D68-453B-8CD0-9BB932A2B808">
                <File Id="filAC751AB8116CEF372F8CFDA54B395D08" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\ControlzEx.dll" />
            </Component>
            <Component Id="cmpBE3C1D05C7C90455322C9F819A57A07A" Directory="INSTALLFOLDER" Guid="D01C4AE3-8C77-46AB-A3DF-AA387B7BE7FF">
                <File Id="filE7C602A91344AD969255F20A2CA7411A" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Hardcodet.Wpf.TaskbarNotification.dll" />
            </Component>
            <Component Id="cmp60805430DA62A620ADC712537D30F06A" Directory="INSTALLFOLDER" Guid="613B53B0-397A-4131-BA95-C434C8EAABFA">
                <File Id="filDB1D736833CDA4D30509594A7B6D0162" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\LiveCharts.dll" />
            </Component>
            <Component Id="cmpB80EB57EF2904D1A74E508B15C150404" Directory="INSTALLFOLDER" Guid="BEA81AB3-74BE-4CCB-8867-D62571BB189E">
                <File Id="filCBE997A6CD849E4DF004F21120DE6B94" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\LiveCharts.Wpf.dll" />
            </Component>
            <Component Id="cmp223D4754378C01052DA8253A843FD297" Directory="INSTALLFOLDER" Guid="0008D34D-DFF4-42FE-B7A9-535A413FCD71">
                <File Id="filBC562C5B3D9848A2114F0AF7275FF1E6" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\MahApps.Metro.dll" />
            </Component>
            <Component Id="cmpF79A41B26948F126556619AD15586E53" Directory="INSTALLFOLDER" Guid="C7A9CBA9-EFA5-4EDB-B1B5-8AA2DC107F12">
                <File Id="filD65CB2C411B671E247C0C842FF9ED3FA" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\MaterialDesignColors.dll" />
            </Component>
            <Component Id="cmp6D59DB1C8695088F09FD7F0B07ECD487" Directory="INSTALLFOLDER" Guid="5DC5CAB5-439A-4E6F-9F64-CB5104F771BB">
                <File Id="fil13620EBEA6F6420A02C733F8682CD641" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\MaterialDesignThemes.Wpf.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Directory="INSTALLFOLDER" Guid="617000E4-9A03-4DC0-87D0-F481F8CA6FB2">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp74A2C73F11C177073B0A672936A0D5EB" Directory="INSTALLFOLDER" Guid="6DCE8927-A433-4B0C-BC46-EF51B3853548">
                <Class Id="{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}" Context="InprocServer32" Description="Serilog.Formatting.Raw.RawFormatter" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Serilog.Formatting.Raw.RawFormatter" Description="Serilog.Formatting.Raw.RawFormatter" />
                </Class>
                <Class Id="{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}" Context="InprocServer32" Description="Serilog.LoggerConfiguration" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Serilog.LoggerConfiguration" Description="Serilog.LoggerConfiguration" />
                </Class>
                <Class Id="{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}" Context="InprocServer32" Description="Serilog.Parsing.MessageTemplateParser" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Serilog.Parsing.MessageTemplateParser" Description="Serilog.Parsing.MessageTemplateParser" />
                </Class>
                <File Id="fil1CF141D24266A4E5F331DDFE02166A27" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Serilog.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32\2.0.0.0" Name="Class" Value="Serilog.Formatting.Raw.RawFormatter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#fil1CF141D24266A4E5F331DDFE02166A27]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32" Name="Class" Value="Serilog.Formatting.Raw.RawFormatter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32" Name="CodeBase" Value="file:///[#fil1CF141D24266A4E5F331DDFE02166A27]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32\2.0.0.0" Name="Class" Value="Serilog.LoggerConfiguration" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#fil1CF141D24266A4E5F331DDFE02166A27]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32" Name="Class" Value="Serilog.LoggerConfiguration" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32" Name="CodeBase" Value="file:///[#fil1CF141D24266A4E5F331DDFE02166A27]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32\2.0.0.0" Name="Class" Value="Serilog.Parsing.MessageTemplateParser" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#fil1CF141D24266A4E5F331DDFE02166A27]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32" Name="Class" Value="Serilog.Parsing.MessageTemplateParser" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32" Name="CodeBase" Value="file:///[#fil1CF141D24266A4E5F331DDFE02166A27]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{20D63819-38AD-37B3-AF26-F5652FC837AD}\2.0.0.0" Name="Class" Value="Serilog.Parsing.Alignment" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{20D63819-38AD-37B3-AF26-F5652FC837AD}\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{20D63819-38AD-37B3-AF26-F5652FC837AD}\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{20D63819-38AD-37B3-AF26-F5652FC837AD}\2.0.0.0" Name="CodeBase" Value="file:///[#fil1CF141D24266A4E5F331DDFE02166A27]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4BAF045C-FC83-3778-8813-EC2A8A054D54}\2.0.0.0" Name="Class" Value="Serilog.Events.LogEventLevel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4BAF045C-FC83-3778-8813-EC2A8A054D54}\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4BAF045C-FC83-3778-8813-EC2A8A054D54}\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4BAF045C-FC83-3778-8813-EC2A8A054D54}\2.0.0.0" Name="CodeBase" Value="file:///[#fil1CF141D24266A4E5F331DDFE02166A27]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4CF6CD6C-68F6-3FA4-9504-7116CAEFFEEE}\2.0.0.0" Name="Class" Value="Serilog.Parsing.Destructuring" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4CF6CD6C-68F6-3FA4-9504-7116CAEFFEEE}\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4CF6CD6C-68F6-3FA4-9504-7116CAEFFEEE}\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4CF6CD6C-68F6-3FA4-9504-7116CAEFFEEE}\2.0.0.0" Name="CodeBase" Value="file:///[#fil1CF141D24266A4E5F331DDFE02166A27]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B3CBA6E6-0B75-3B33-82DF-C5C094BB1D92}\2.0.0.0" Name="Class" Value="Serilog.Parsing.AlignmentDirection" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B3CBA6E6-0B75-3B33-82DF-C5C094BB1D92}\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B3CBA6E6-0B75-3B33-82DF-C5C094BB1D92}\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B3CBA6E6-0B75-3B33-82DF-C5C094BB1D92}\2.0.0.0" Name="CodeBase" Value="file:///[#fil1CF141D24266A4E5F331DDFE02166A27]" Type="string" Action="write" />
            </Component>
            <Component Id="cmp49818C715FF04B8E95F7B53BDDD323EF" Directory="INSTALLFOLDER" Guid="5E282575-F63B-4832-A901-390E4FD14DEA">
                <File Id="fil1A12B15365165DDBE60433B150808BEE" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="cmp6B7CE49F5F3A518047B74FB6AC2251C5" Directory="INSTALLFOLDER" Guid="E6CEB0B7-0711-4C43-A9E5-C93F82A5C490">
                <File Id="fil86030949C08D40073D1F77D572C14B0D" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\System.Data.SQLite.dll" />
            </Component>
            <Component Id="cmpE25D4339F043AE9AF876A4620A6432C9" Directory="INSTALLFOLDER" Guid="5E7F7C67-65C5-4122-BEE9-58B56301597E">
                <File Id="fil231CA1DE8C286CE1F5188773A945762D" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\System.Data.SQLite.dll.config" />
            </Component>
            <Component Id="cmp8E100A18327D40D73A207E32DC2A5DF7" Directory="INSTALLFOLDER" Guid="77333424-96B4-45B1-950E-BB2B3A4E7DDC">
                <File Id="fil3EB43006AD1D6A442A5059D2602A1B16" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\System.Reactive.dll" />
            </Component>
            <Component Id="cmp3A99A623A71A716A198559E0C9D59400" Directory="INSTALLFOLDER" Guid="FEC4A4F8-EB50-4533-83F2-18011AC75E4C">
                <File Id="filE6242AE03AF2509440ADF395C76688A4" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" Directory="INSTALLFOLDER" Guid="9C4A9A69-1967-41F0-964D-C59DCD1873F8">
                <File Id="fil17E34524E8398461D615894C92558FE9" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmp19F6DF8A2ABC78D782D76F1EEC9A5800" Directory="dir43FCCFA109FBF584D9155DCE31E452EB" Guid="77E8399A-25E9-4980-BAC3-69464260C5C8">
                <File Id="filC7EA62E1AC64247AFBE682E8631402B8" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\x64\SQLite.Interop.dll" />
            </Component>
            <Component Id="cmp77484AF39EF2F8BD64E876C33A1C3E49" Directory="dir97F42FF68945B97AAE670945C4FDAE93" Guid="96E2F566-E1C5-4D23-81DA-37F6F9C41166">
                <File Id="filD2ACACD0EBAF09B1953E9C3793C13C69" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\x86\SQLite.Interop.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>