<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER"/>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CobaltEngineComponents">
            <Component Id="Cobalt.Engine.exe" Directory="INSTALLFOLDER" Guid="680AA57C-9B4E-4395-8B1B-3585D856C3CD">
                <File Id="Cobalt.Engine.exe" KeyPath="yes" Source="$(var.Cobalt.Engine.TargetDir)\Cobalt.Engine.exe" />
            </Component>
            <Component Id="Cobalt.Engine.exe.config" Directory="INSTALLFOLDER" Guid="CFEDF12F-C256-40BE-8983-8A675BFDB767">
                <File Id="Cobalt.Engine.exe.config" KeyPath="yes" Source="$(var.Cobalt.Engine.TargetDir)\Cobalt.Engine.exe.config" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>