<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER"/>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CobaltEngineComponents">
            <Component Id="Cobalt.Engine.exe" Directory="INSTALLFOLDER" Guid="1FA7EC52-9243-40E4-A92F-9CC99041C7EC">
                <File Id="Cobalt.Engine.exe" KeyPath="yes" Source="$(var.Cobalt.Engine.TargetDir)\Cobalt.Engine.exe" />
            </Component>
            <Component Id="Cobalt.Engine.exe.config" Directory="INSTALLFOLDER" Guid="DDDBC84E-7CD2-467C-902F-1FA4BAF37CA5">
                <File Id="Cobalt.Engine.exe.config" KeyPath="yes" Source="$(var.Cobalt.Engine.TargetDir)\Cobalt.Engine.exe.config" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>