<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <ComponentGroup Id="CobaltComponents">
            <Component Id="Cobalt.exe" Directory="INSTALLFOLDER" Guid="19261AD0-7277-41F7-A468-5290F88A0AB8">
                <File Id="Cobalt.exe" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.exe" />
            </Component>
            <Component Id="Cobalt.exe.config" Directory="INSTALLFOLDER" Guid="C98B1F91-3B69-4B89-ACBA-F91CF139A407">
                <File Id="Cobalt.exe.config" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.exe.config" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
