<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="x64cpy" Name="x64" />
            <Directory Id="x86" Name="x86" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CobaltTaskbarNotifierComponents">
            <Component Id="Autofac.dll" Directory="INSTALLFOLDER" Guid="39A3DA13-7069-46DB-BDEF-F36D77148052">
                <File Id="Autofac.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Autofac.dll" />
            </Component>
            <Component Id="Caliburn.Micro.Autofac.dll" Directory="INSTALLFOLDER" Guid="40767709-817F-45DB-9BFB-431B26760B2E">
                <File Id="Caliburn.Micro.Autofac.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Caliburn.Micro.Autofac.dll" />
            </Component>
            <Component Id="Caliburn.Micro.dll" Directory="INSTALLFOLDER" Guid="D7F99F8B-2246-4EF0-B9D2-B980524F95FD">
                <Class Id="{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}" Context="InprocServer32" Description="Caliburn.Micro.ActivationEventArgs" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.ActivationEventArgs" Description="Caliburn.Micro.ActivationEventArgs" />
                </Class>
                <Class Id="{2DE39304-6881-3628-93AC-6B3BC22F2DC7}" Context="InprocServer32" Description="Caliburn.Micro.ViewAware" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.ViewAware" Description="Caliburn.Micro.ViewAware" />
                </Class>
                <Class Id="{344DB887-054E-340F-920D-E9A73D3B0751}" Context="InprocServer32" Description="Caliburn.Micro.CoroutineExecutionContext" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.CoroutineExecutionContext" Description="Caliburn.Micro.CoroutineExecutionContext" />
                </Class>
                <Class Id="{60B59510-9C55-3309-B4B4-FFCF14A9D58A}" Context="InprocServer32" Description="Caliburn.Micro.ResultCompletionEventArgs" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.ResultCompletionEventArgs" Description="Caliburn.Micro.ResultCompletionEventArgs" />
                </Class>
                <Class Id="{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}" Context="InprocServer32" Description="Caliburn.Micro.ActivationProcessedEventArgs" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.ActivationProcessedEventArgs" Description="Caliburn.Micro.ActivationProcessedEventArgs" />
                </Class>
                <Class Id="{716C4FAC-763A-3DF7-AC8E-18E082926D6C}" Context="InprocServer32" Description="Caliburn.Micro.EventAggregator" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.EventAggregator" Description="Caliburn.Micro.EventAggregator" />
                </Class>
                <Class Id="{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}" Context="InprocServer32" Description="Caliburn.Micro.PropertyChangedBase" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.PropertyChangedBase" Description="Caliburn.Micro.PropertyChangedBase" />
                </Class>
                <Class Id="{8357CB1B-108A-3306-9F96-B14B4925F1A8}" Context="InprocServer32" Description="Caliburn.Micro.DeactivationEventArgs" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.DeactivationEventArgs" Description="Caliburn.Micro.DeactivationEventArgs" />
                </Class>
                <Class Id="{87C16467-FE01-37EA-BDD3-88EA8537CE9B}" Context="InprocServer32" Description="Caliburn.Micro.Screen" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.Screen" Description="Caliburn.Micro.Screen" />
                </Class>
                <Class Id="{88729FA5-998A-376C-A666-1453243041FE}" Context="InprocServer32" Description="Caliburn.Micro.ViewAttachedEventArgs" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.ViewAttachedEventArgs" Description="Caliburn.Micro.ViewAttachedEventArgs" />
                </Class>
                <Class Id="{B4F7805F-33D4-3226-B46D-2D80EC6B301D}" Context="InprocServer32" Description="Caliburn.Micro.SimpleContainer" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.SimpleContainer" Description="Caliburn.Micro.SimpleContainer" />
                </Class>
                <Class Id="{C2BA713C-D12F-34BE-9609-22341AEDA3C1}" Context="InprocServer32" Description="Caliburn.Micro.DefaultPlatformProvider" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Caliburn.Micro.DefaultPlatformProvider" Description="Caliburn.Micro.DefaultPlatformProvider" />
                </Class>
                <File Id="Caliburn.Micro.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Caliburn.Micro.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.ActivationEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32" Name="Class" Value="Caliburn.Micro.ActivationEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{199FD1C3-22DB-339D-BDAE-9E09B32D5DC2}\InprocServer32" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.ViewAware" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32" Name="Class" Value="Caliburn.Micro.ViewAware" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2DE39304-6881-3628-93AC-6B3BC22F2DC7}\InprocServer32" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.CoroutineExecutionContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32" Name="Class" Value="Caliburn.Micro.CoroutineExecutionContext" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{344DB887-054E-340F-920D-E9A73D3B0751}\InprocServer32" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.ResultCompletionEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32" Name="Class" Value="Caliburn.Micro.ResultCompletionEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{60B59510-9C55-3309-B4B4-FFCF14A9D58A}\InprocServer32" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.ActivationProcessedEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32" Name="Class" Value="Caliburn.Micro.ActivationProcessedEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6EF2A5AC-6EAA-3D02-9810-4B8C01E8E296}\InprocServer32" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.EventAggregator" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32" Name="Class" Value="Caliburn.Micro.EventAggregator" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{716C4FAC-763A-3DF7-AC8E-18E082926D6C}\InprocServer32" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.PropertyChangedBase" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32" Name="Class" Value="Caliburn.Micro.PropertyChangedBase" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{75EFFE8D-6567-36ED-BFC2-7865F7A36F56}\InprocServer32" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.DeactivationEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32" Name="Class" Value="Caliburn.Micro.DeactivationEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8357CB1B-108A-3306-9F96-B14B4925F1A8}\InprocServer32" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.Screen" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32" Name="Class" Value="Caliburn.Micro.Screen" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{87C16467-FE01-37EA-BDD3-88EA8537CE9B}\InprocServer32" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.ViewAttachedEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32" Name="Class" Value="Caliburn.Micro.ViewAttachedEventArgs" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{88729FA5-998A-376C-A666-1453243041FE}\InprocServer32" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.SimpleContainer" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32" Name="Class" Value="Caliburn.Micro.SimpleContainer" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B4F7805F-33D4-3226-B46D-2D80EC6B301D}\InprocServer32" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32\3.0.3.0" Name="Class" Value="Caliburn.Micro.DefaultPlatformProvider" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32\3.0.3.0" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32\3.0.3.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32\3.0.3.0" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32" Name="Class" Value="Caliburn.Micro.DefaultPlatformProvider" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32" Name="Assembly" Value="Caliburn.Micro, Version=3.0.3.0, Culture=neutral, PublicKeyToken=8e5891231f2ed21f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C2BA713C-D12F-34BE-9609-22341AEDA3C1}\InprocServer32" Name="CodeBase" Value="file:///[#Caliburn.Micro.dll]" Type="string" Action="write" />
            </Component>
            <Component Id="Caliburn.Micro.Platform.Core.dll" Directory="INSTALLFOLDER" Guid="1B55FFBB-8BCA-458F-AEC3-6C540816CBF5">
                <File Id="Caliburn.Micro.Platform.Core.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Caliburn.Micro.Platform.Core.dll" />
            </Component>
            <Component Id="Caliburn.Micro.Platform.dll" Directory="INSTALLFOLDER" Guid="88D217B6-2F57-426F-94C6-E3AAE979F408">
                <File Id="Caliburn.Micro.Platform.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Caliburn.Micro.Platform.dll" />
            </Component>
            <Component Id="Cobalt.Common.Analysis.dll" Directory="INSTALLFOLDER" Guid="F4F20FFA-3EC0-4D6B-805E-7D4C6AFBD150">
                <File Id="Cobalt.Common.Analysis.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Cobalt.Common.Analysis.dll" />
            </Component>
            <Component Id="Cobalt.Common.Data.dll" Directory="INSTALLFOLDER" Guid="A3CC5358-64D8-4B6B-AA11-1ECCD91D2E1C">
                <File Id="Cobalt.Common.Data.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Cobalt.Common.Data.dll" />
            </Component>
            <Component Id="Cobalt.Common.IoC.dll" Directory="INSTALLFOLDER" Guid="843D0BF6-3433-4163-8AA0-15276344A4EC">
                <File Id="Cobalt.Common.IoC.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Cobalt.Common.IoC.dll" />
            </Component>
            <Component Id="Cobalt.Common.Transmission.dll" Directory="INSTALLFOLDER" Guid="13E02ED2-05E8-42E0-92A4-B50CAFC28078">
                <File Id="Cobalt.Common.Transmission.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Cobalt.Common.Transmission.dll" />
            </Component>
            <Component Id="Cobalt.Common.UI.dll" Directory="INSTALLFOLDER" Guid="A4F39CD3-7DF7-4972-81B4-7D019A2F1F32">
                <File Id="Cobalt.Common.UI.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Cobalt.Common.UI.dll" />
            </Component>
            <Component Id="Cobalt.Common.UI.dll.config" Directory="INSTALLFOLDER" Guid="94009288-796D-4839-AA95-91CB4FE47F4C">
                <File Id="Cobalt.Common.UI.dll.config" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Cobalt.Common.UI.dll.config" />
            </Component>
            <Component Id="Cobalt.Common.Util.dll" Directory="INSTALLFOLDER" Guid="A32A0722-02E8-4D76-9B0A-5EE287411553">
                <File Id="Cobalt.Common.Util.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Cobalt.Common.Util.dll" />
            </Component>
            <Component Id="Cobalt.TaskbarNotifier.exe" Directory="INSTALLFOLDER" Guid="8803161F-2335-4C06-B012-0E51A02B26B5">
                <File Id="Cobalt.TaskbarNotifier.exe" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Cobalt.TaskbarNotifier.exe" />
            </Component>
            <Component Id="Cobalt.TaskbarNotifier.exe.config" Directory="INSTALLFOLDER" Guid="DCA64CA7-CF2B-4D44-AE4A-30FF318949F5">
                <File Id="Cobalt.TaskbarNotifier.exe.config" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Cobalt.TaskbarNotifier.exe.config" />
            </Component>
            <Component Id="ControlzEx.dll" Directory="INSTALLFOLDER" Guid="90CAB5AB-C134-4FC8-BC89-8D0210134738">
                <File Id="ControlzEx.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\ControlzEx.dll" />
            </Component>
            <Component Id="Hardcodet.Wpf.TaskbarNotification.dll" Directory="INSTALLFOLDER" Guid="41D89DCB-4317-483A-B6A5-7251FBF1308B">
                <File Id="Hardcodet.Wpf.TaskbarNotification.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Hardcodet.Wpf.TaskbarNotification.dll" />
            </Component>
            <Component Id="LiveCharts.dll" Directory="INSTALLFOLDER" Guid="63811BF3-8593-4414-B7D3-6236E1162603">
                <File Id="LiveCharts.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\LiveCharts.dll" />
            </Component>
            <Component Id="LiveCharts.Wpf.dll" Directory="INSTALLFOLDER" Guid="231FE4B3-9BA9-4CBF-868A-EDEB269788D9">
                <File Id="LiveCharts.Wpf.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\LiveCharts.Wpf.dll" />
            </Component>
            <Component Id="MahApps.Metro.dll" Directory="INSTALLFOLDER" Guid="E0A375E6-3E16-406B-B7F1-E3C5A694429D">
                <File Id="MahApps.Metro.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\MahApps.Metro.dll" />
            </Component>
            <Component Id="MaterialDesignColors.dll" Directory="INSTALLFOLDER" Guid="7F6563F1-7848-40CB-8C52-C4C14CE748ED">
                <File Id="MaterialDesignColors.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\MaterialDesignColors.dll" />
            </Component>
            <Component Id="MaterialDesignThemes.Wpf.dll" Directory="INSTALLFOLDER" Guid="DCF77AB0-8996-4D1B-B13D-A06920AA22EC">
                <File Id="MaterialDesignThemes.Wpf.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\MaterialDesignThemes.Wpf.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.dll" Directory="INSTALLFOLDER" Guid="77F8CA58-BD17-4C39-AA1E-9954D0162D2E">
                <File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="Serilog.dll" Directory="INSTALLFOLDER" Guid="060ABB2F-A898-435C-9E53-06F664E00137">
                <Class Id="{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}" Context="InprocServer32" Description="Serilog.Formatting.Raw.RawFormatter" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Serilog.Formatting.Raw.RawFormatter" Description="Serilog.Formatting.Raw.RawFormatter" />
                </Class>
                <Class Id="{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}" Context="InprocServer32" Description="Serilog.LoggerConfiguration" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Serilog.LoggerConfiguration" Description="Serilog.LoggerConfiguration" />
                </Class>
                <Class Id="{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}" Context="InprocServer32" Description="Serilog.Parsing.MessageTemplateParser" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="Serilog.Parsing.MessageTemplateParser" Description="Serilog.Parsing.MessageTemplateParser" />
                </Class>
                <File Id="Serilog.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Serilog.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32\2.0.0.0" Name="Class" Value="Serilog.Formatting.Raw.RawFormatter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#Serilog.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32" Name="Class" Value="Serilog.Formatting.Raw.RawFormatter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0EF08EA2-A183-3DD1-B3E5-1656C2BF4F1A}\InprocServer32" Name="CodeBase" Value="file:///[#Serilog.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32\2.0.0.0" Name="Class" Value="Serilog.LoggerConfiguration" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#Serilog.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32" Name="Class" Value="Serilog.LoggerConfiguration" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1FBE037-5BDD-3DFD-8E50-AA966BFBF410}\InprocServer32" Name="CodeBase" Value="file:///[#Serilog.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32\2.0.0.0" Name="Class" Value="Serilog.Parsing.MessageTemplateParser" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#Serilog.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32" Name="Class" Value="Serilog.Parsing.MessageTemplateParser" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FFF1B957-2ECB-317F-803F-EE6E5B32A13E}\InprocServer32" Name="CodeBase" Value="file:///[#Serilog.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{20D63819-38AD-37B3-AF26-F5652FC837AD}\2.0.0.0" Name="Class" Value="Serilog.Parsing.Alignment" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{20D63819-38AD-37B3-AF26-F5652FC837AD}\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{20D63819-38AD-37B3-AF26-F5652FC837AD}\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{20D63819-38AD-37B3-AF26-F5652FC837AD}\2.0.0.0" Name="CodeBase" Value="file:///[#Serilog.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4BAF045C-FC83-3778-8813-EC2A8A054D54}\2.0.0.0" Name="Class" Value="Serilog.Events.LogEventLevel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4BAF045C-FC83-3778-8813-EC2A8A054D54}\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4BAF045C-FC83-3778-8813-EC2A8A054D54}\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4BAF045C-FC83-3778-8813-EC2A8A054D54}\2.0.0.0" Name="CodeBase" Value="file:///[#Serilog.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4CF6CD6C-68F6-3FA4-9504-7116CAEFFEEE}\2.0.0.0" Name="Class" Value="Serilog.Parsing.Destructuring" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4CF6CD6C-68F6-3FA4-9504-7116CAEFFEEE}\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4CF6CD6C-68F6-3FA4-9504-7116CAEFFEEE}\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4CF6CD6C-68F6-3FA4-9504-7116CAEFFEEE}\2.0.0.0" Name="CodeBase" Value="file:///[#Serilog.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B3CBA6E6-0B75-3B33-82DF-C5C094BB1D92}\2.0.0.0" Name="Class" Value="Serilog.Parsing.AlignmentDirection" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B3CBA6E6-0B75-3B33-82DF-C5C094BB1D92}\2.0.0.0" Name="Assembly" Value="Serilog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=24c2f752a8e58a10" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B3CBA6E6-0B75-3B33-82DF-C5C094BB1D92}\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B3CBA6E6-0B75-3B33-82DF-C5C094BB1D92}\2.0.0.0" Name="CodeBase" Value="file:///[#Serilog.dll]" Type="string" Action="write" />
            </Component>
            <Component Id="Serilog.Sinks.File.dll" Directory="INSTALLFOLDER" Guid="E733EB3E-71B1-4057-B562-A2488037BC5D">
                <File Id="Serilog.Sinks.File.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="System.Data.SQLite.dll" Directory="INSTALLFOLDER" Guid="2ABAA94C-57F3-405E-9BFE-1B6C03C754CD">
                <File Id="System.Data.SQLite.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\System.Data.SQLite.dll" />
            </Component>
            <Component Id="System.Data.SQLite.dll.config" Directory="INSTALLFOLDER" Guid="7270B1A9-726C-4464-932F-1BEDA3EEB8ED">
                <File Id="System.Data.SQLite.dll.config" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\System.Data.SQLite.dll.config" />
            </Component>
            <Component Id="System.Reactive.dll" Directory="INSTALLFOLDER" Guid="991A7D71-E577-41C5-8AB9-1AAE32D6A5BA">
                <File Id="System.Reactive.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\System.Reactive.dll" />
            </Component>
            <Component Id="System.ValueTuple.dll" Directory="INSTALLFOLDER" Guid="21B08749-803B-411C-A433-7160ED36DF93">
                <File Id="System.ValueTuple.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\System.ValueTuple.dll" />
            </Component>
            <Component Id="System.Windows.Interactivity.dll" Directory="INSTALLFOLDER" Guid="EA4C4508-42F0-4CF2-8DF6-44DFC6F61F5A">
                <File Id="System.Windows.Interactivity.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="SQLite.Interop.dll" Directory="x64cpy" Guid="CC33AB1D-3BC2-47A2-A385-EA219DB71A34">
                <File Id="SQLite.Interop.dll" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\x64\SQLite.Interop.dll" />
            </Component>
            <Component Id="SQLite.Interop.dll_1" Directory="x86" Guid="8C50B1F8-C5DC-4D4B-AA2B-A8455B81E610">
                <File Id="SQLite.Interop.dll_1" KeyPath="yes" Source="$(var.Cobalt.TaskbarNotifier.TargetDir)\x86\SQLite.Interop.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>