<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <ComponentGroup Id="CobaltComponents">
            <Component Id="Cobalt.exe" Directory="INSTALLFOLDER" Guid="F49FCF34-1D64-44F8-83BE-6FAC1FE11406">
                <File Id="Cobalt.exe" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.exe" />
            </Component>
            <Component Id="Cobalt.exe.config" Directory="INSTALLFOLDER" Guid="AC204A6F-70D4-432A-8576-E5A84B32C34A">
                <File Id="Cobalt.exe.config" KeyPath="yes" Source="$(var.Cobalt.TargetDir)\Cobalt.exe.config" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
