<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Cobalt.Setup" Language="1033" Version="1.0.1.0" Manufacturer="Enigmatrix" UpgradeCode="F5B3B32D-CFF5-49DC-BAFC-71D0F84187DF">
		<Package InstallerVersion="200" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Cobalt.Setup" Level="1">
			<ComponentGroupRef Id="CobaltComponents"/>
			<ComponentGroupRef Id="CobaltEngineComponents"/>
			<ComponentGroupRef Id="CobaltTaskbarNotifierComponents"/>
		</Feature>

		<Binary Id="CobaltSetupTasks" SourceFile="$(var.Cobalt.Setup.TaskScheduler.TargetDir)\Cobalt.Setup.TaskScheduler.CA.dll" />
		<CustomAction BinaryKey="CobaltSetupTasks" DllEntry="InstallCobaltEngineToTaskScheduler" Id="InstallCobaltEngineToTaskScheduler" Return="check" Execute='deferred' Impersonate='no'/>
		<CustomAction Id='SetEnv' Property="InstallCobaltEngineToTaskScheduler" Value="INSTALLFOLDER=[INSTALLFOLDER]"/>

		<InstallExecuteSequence>
      <RemoveExistingProducts After="InstallFiles"/>
			<Custom Action="SetEnv" After="InstallFiles"/>
			<Custom Action="InstallCobaltEngineToTaskScheduler" After="SetEnv"/>
		</InstallExecuteSequence>

	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Cobalt" />
			</Directory>
		</Directory>
	</Fragment>

</Wix>
