<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Cobalt.Setup" Language="1033" Version="1.0.1.0" Manufacturer="Enigmatrix" UpgradeCode="F5B3B32D-CFF5-49DC-BAFC-71D0F84187DF">
		<Package InstallerVersion="200" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine" />
  
    <!--UI Settings-->
	  <UI>
	    <UIRef Id="WixUI_Minimal" />
	  </UI>
	  <PropertyRef Id="IMPORT_UI_PROPERTIES" />

    <!--Upgrade Settings-->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!--Install files-->
		<MediaTemplate EmbedCab="yes"/>
		<Feature Id="ProductFeature" Title="Cobalt.Setup" Level="1">
			<ComponentGroupRef Id="CobaltComponents"/>
			<ComponentGroupRef Id="CobaltEngineComponents"/>
			<ComponentGroupRef Id="CobaltTaskbarNotifierComponents"/>
		</Feature>

    <!--Custom code declaration-->
		<Binary Id="CobaltCustomActions" SourceFile="$(var.Cobalt.Setup.CustomActions.TargetDir)\Cobalt.Setup.CustomActions.CA.dll" />
		<CustomAction BinaryKey="CobaltCustomActions" DllEntry="InstallTasks" Id="InstallTasks" Return="check" Execute='deferred' Impersonate='no'/>
		<CustomAction BinaryKey="CobaltCustomActions" DllEntry="DeleteTasks" Id="DeleteTasks" Return="check" Execute='deferred' Impersonate='no'/>
		<CustomAction BinaryKey="CobaltCustomActions" DllEntry="LaunchTasks" Id="LaunchTasks" Return="check" Execute='deferred' Impersonate='no'/>
	  <CustomAction Id='SetEnvInstallTasks' Property="InstallTasks" Value="INSTALLFOLDER=[INSTALLFOLDER]"/>
	  <CustomAction Id='SetEnvDeleteTasks' Property="DeleteTasks" Value="INSTALLFOLDER=[INSTALLFOLDER]"/>
	  <CustomAction Id='SetEnvLaunchTasks' Property="LaunchTasks" Value="INSTALLFOLDER=[INSTALLFOLDER]"/>

    <!--Installation sequence-->
		<InstallExecuteSequence>
			<Custom Action="SetEnvInstallTasks" After="InstallFiles"/>
			<Custom Action="SetEnvDeleteTasks" After="InstallFiles"/>
			<Custom Action="SetEnvLaunchTasks" After="InstallFiles"/>

      <!---RUN ALWAYS-->
      <Custom Action="DeleteTasks" After="SetEnvDeleteTasks"/>
      <!---during install and repair-->
      <Custom Action="InstallTasks" After="SetEnvInstallTasks">NOT REMOVE</Custom>
      <!---during install and repair-->
      <Custom Action="LaunchTasks" Before="InstallFinalize">NOT REMOVE</Custom>
		</InstallExecuteSequence>
    

	</Product>

  <!--Directory Structure-->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Cobalt" />
			</Directory>
		</Directory>
	</Fragment>

</Wix>
