<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
	  <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
	  <WixVariable Id="WixUILicenseRtf" Value="cobalt-eula.rtf" />

	  <Property Id="IMPORT_UI_PROPERTIES" Value="meow" />
  </Fragment>
</Wix>
